*::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: 100%;
}

*::-webkit-scrollbar-thumb {
	background: #8d8d8d;
	border-radius: 12px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
}

*::-webkit-scrollbar-corner {
	background: transparent;
}

body.dark {
	background-color: #0f0f0f;
}
